---
layout: default
---

<div class="10053home">
  
{% highlight sql %}
  alter system set events '10053 trace name context somewhere over the rainbow, level 100';
{% endhighlight %}

<iframe width="600" height="340" src="https://www.youtube.com/embed/V1bFr2SWP1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Blog posts</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li style="margin-bottom: 0px;">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
-->
</div>
